body {
  margin: 0;
}

.body {
  font-size: 1.3rem;
  display: block;
  font-family: 'Montserrat', sans-serif;
}
/* LOGO WILL CENTER IMGE / TITLE ONLY */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* 
.center {
  justify-content: center;
} */
/* HEADER BACKGROUND - CAN ALSO USE AS FOOTER IF COPIED AND RENAMED AS FOOTER */
header {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  background: pink;
  padding: 2rem 0;
  border-bottom: rgb(138, 138, 138) solid 0.1rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

button {
  background-color: #046c95;
  color: #fefffe;
  border-radius: 4px;
  padding: 1rem 0;
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #04516f;
}

/* DO NOT USE - FEATURE GRID */
/* 
.feature-grid {
  display: grid;
  grid-template-columns: auto;
  align-items: start;
  gap: 5rem;
  padding: 2rem 5rem;
  border-bottom: rgb(138, 138, 138) solid 0.1rem;
} */

.container {
  display: grid;
  grid-template-columns: auto;
  padding: 2rem;
  gap: 2rem;
  align-items: start;
}

.product-card {
  grid-gap: 1rem;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 2rem;
  max-width: fit-content;
}

@media screen and (min-width: 40rem) {
  .feature-grid {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 65rem) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, adjust as needed */
  direction: rtl; /* Right-to-left to start filling from the right */
}

.grid-item {
  direction: ltr; /* Reset text direction inside items if needed */
}

.checkout {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust minmax() for your item size */
  direction: rtl;
  gap: 10px;
  align-content: start;
  overflow-y: auto;
}

.checkout-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  background: pink;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.checkout-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.checkout-txt {
  margin: 0rem;
  margin-left: 0.5rem;
}

.checkout-card {
  display: grid;
  grid-template-columns: auto 1fr; /* Adjust the size of the first column as needed */
  grid-template-rows: auto auto; /* Adjust based on content */
  gap: 10px; /* Space between rows and columns */
  align-items: start; /* Align items at the start of each cell */
}
